.left-side {
  padding: 1rem;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 500px;
  form {
    display: grid;
    gap: 1rem;
    width: fit-content;
  }
}
